body {
    margin:0;
  }

P, h2, h4, h5 {
  font-family:'Noto Sans', sans-serif;
}

h1 {
  font-family:'Mirza', cursive; 
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}

h3 {
  font-family:'Mirza', cursive; 
  font-weight:300;
  letter-spacing: 2px;
  font-size:26px;
}

.navbar {
    position:fixed;
    width: 100%;
    background-color:#151515;
    background-size: cover;
    z-index: 10;
}

  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  .navbar-brand img {
    justify-content: right;
    margin: 2%;
  }

  .nav-item {
    margin: 0px 15px;
    justify-content: center;
  }
 
.nav-link {
    color: #f2f2f2;
}

.nav-link:hover {
    background-color: #BE8BFF;
    color: #151515;
  }

  .customNav a {
    color: white !important;
  }
  
/* Jumbotron  */
.jumbotron {
    background-size: cover;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
  }

.list-group {
    background-color: #984df7;
}
  

.btn {
    height: 40px;
    width: 140px;
    background-color: #984df7;
    color: white;
    text-shadow: 4px; 
    margin: 3%;
    border: 1px solid #f2f2f2;
}

.btn:hover {
  background-color: #BE8BFF;
}


footer {
    background-color:#151515;
      width: 100%;
      color: white;
      display: inline-block;
      vertical-align: top;
      }
  
 .socialMedia {
          width: 100%;
          flex-direction:row;
          justify-content: center;
          padding: 15px;
      }
  
  .socialMedia > img {
      padding: 15px;
  }
  
  .bottomMenu {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
  }
          
  .bottomMenu > p {
      padding: 10px;
          }
  
    .bottomMenu > p:hover{
        color: #BE8BFF;
    }
           